NEXT_PUBLIC_API_URL=http://127.0.0.1:8000/api/v1

# Google Maps API Key
# Obtén tu API Key en: https://console.cloud.google.com/apis/credentials
# Habilita las siguientes APIs:
# - Maps JavaScript API
# - Places API
# - Geocoding API
NEXT_PUBLIC_GOOGLE_MAPS_KEY=tu_api_key_aqui
